html
    head
        title= title
    body
        h1= message
        div
            form(action='/upload' method='POST' enctype='multipart/form-data')
                div
                    label(for='selectedFile') Select File: 
                    input(name='selectedFile' type='file')
                br
                button(type='submit') Get Size of File